/* .display {
    display: none;
} 

.triangle {
    margin-right: 1px;
    display: inline-block;
    border: 10px solid transparent; 
    border-top: 10px solid green;
    position: relative;
    top: 10px;
}
.button {
    cursor: pointer;
}

.rotate {
    transform: rotate(-90deg);
    top: 5px;
} */

/* 
body {
    margin: 10px auto;
    width: 470px;
  }
  
  h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
  }
  
  p {
    margin: 0;
    padding: 0 0 .5em;
  }
  
  .pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
    position: relative;
  }
  
  .remove-button {
    font-size: 110%;
    color: darkred;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    /* position: absolute; */
  /* } */

  /* .rm-button {
    position: absolute;
    top: 0px;
  }

  .hidden {
      display: none;
  } */ 
  .arrow {
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    /* убрать между inline-block li лишние пробелы, которые есть в HTML */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
  
    font-size: 0;
  }
  
  ul img {
    width: 130px;
    height: 130px;
    /* по умолчанию inline, но в ряде браузеров это даст лишнее пространство вокруг элементов */
  
    display: block;
  }
  
  ul li {
    /* если в HTML между элементами <li>..</li> есть пробелы, то они будут видны на странице,
    чтобы их избежать, нужно либо писать <li>..</li><li>..</li> вплотную, либо не ставить закрывающие </li> */
  
    display: inline-block;
  }

  .container ul {
      /* width: 9999999px; */
      margin: 0 auto;
      margin-left: 0px;
      transition-property: margin-left;
         transition-duration: 1s;
      /* overflow: hidden; */
      /* margin-right: -1360px; */
      /* margin-left: -530px; */
      
      
    
  }
  .container {
      overflow: hidden;
      border-radius: 15px;
      /* display: flex; */
      justify-content: space-around;
      align-items: center;
      background-color: gray;
      width: 383px;
      padding: 15px;
      margin: 0 auto;
  }

  .cont {
      width: 450px;
      background-color: gray;
      padding: 10px;
      border-radius: 15px;
      display: flex;
      align-items: center;

  }